<h2>Classroom Info </h2>
<%= render partial: 'classroom', locals: {classroom: @classroom}%>

<h2>Student Info </h2>
<%= @classroom.students.each do |student|%>
<%= render partial: 'students/student', locals: {student: student}%>
<%end%>